<launch>

  <!-- start the aerial lidar mapping node -->
 <node pkg="aerial_lidar_mapping" type="pctransform_node" name="AerialLidarTransform" output="screen">
</node>

  <!-- Start the set gps reference node -->
 <node pkg="aerial_lidar_mapping" type="mapper_node" name="PCMapper" output="screen">
</node>

</launch>
